
<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Untree.co">

<meta name="description" content="">
<meta name="keywords" content="bootstrap, bootstrap5">
<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
<link href="/static/index/css/css2.css" rel="stylesheet">
<link rel="stylesheet" href="/static/index/css/style.css">
<link rel="stylesheet" href="/static/index/css/flaticon.css">
<link rel="stylesheet" href="/static/index/css/tiny-slider.css">
<link rel="stylesheet" href="/static/index/css/glightbox.min.css">
<link rel="stylesheet" href="/static/index/css/aos.css">
<link rel="stylesheet" href="/static/index/css/style1.css">
<link rel="apple-touch-icon" sizes="76x76" href="/static/img/Macau.png">
<link rel="icon" type="image/png" href="/static/img/Macau.png">
<title>澳门大学智能驾驶控制平台</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>
<div class="site-mobile-menu site-navbar-target">
<div class="site-mobile-menu-header">
<div class="site-mobile-menu-close">
<span class="icofont-close js-menu-toggle"></span>
</div>
</div>
<div class="site-mobile-menu-body"></div>
</div>
<nav class="site-nav">
<div class="container">
<div class="site-navigation">

<img style="position: absolute; float: left; height: 130px; left: 0; z-index: 99"
                src="/static/index/image/macaulogo.png">
<!-- <a href="index1.html" class="logo m-0 float-left">澳门大学智能交通集成控制系统</a> -->

</div>
</div>
</nav>

<div class="hero overlay" style="background-image: url('/static/index/image/landscape-1.jpeg'); ">
<div class="container">
<div class="row align-items-center justify-content-between">
<div class="col-lg-5 me-auto text-start pe-lg-5">
<div class="intro-text">
<div class="mb-4">
<h1 data-aos="fade-left" class="hero-heading">智能交通云平台</h1>
</div>
<div class="">
<p class="mb-5 opacity-5" data-aos="fade-left" data-aos-delay="200">澳门大学智能交通云平台是研究室面向城市及區域交通運輸領域的國際學術前沿，針對城市群建設中面臨的交通問題，研究利用新一代資訊及通訊科技，實現高效及互聯互通的智能化目標。智能交通云平台集成了智能驾驶车辆控制平台，智能驾驶巴士平台，智能车联网系统平台。 由多个云平台构建的系统集成平台。</p>
<!-- <p data-aos="fade-left" data-aos-delay="300"><a href="#" class="btn btn-primary">实验室</a></p> -->
</div>
</div>
</div>
<div class="col-lg-7" data-aos="fade-left">
<!-- <a href="javascript:;" class="video-bg glightbox"> -->
<!-- <span class="icon"><span class="icon-play"></span></span> -->
<!-- <img src="/static/index/picture/landscape-2.jpeg" alt="Image" class="img-fluid rounded">
</a> -->
<!-- 轮播 -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">
 
    <!-- 指示符 -->
   <ol class="carousel-indicators">
     <li data-bs-target="#demo" data-bs-slide-to="0" class="active"></li>
     <li data-bs-target="#demo" data-bs-slide-to="1"></li>
   </ol>
   
   <!-- 轮播图片 -->
   <div class="carousel-inner">
     <div class="carousel-item active">
       <img src="/static/index/picture/landscape-2.jpeg" class="d-block" style="width:100%">
     </div>
     <div class="carousel-item">
       <img src="/static/index/picture/landscape-1.jpeg" class="d-block" style="width:100%">
     </div>
   </div>
   
 </div>


</div>
</div>
</div>
</div>


<div class="section bg-white">
<div class="container">
<div class="row">
<div class="col-lg-7">
<span class="subheading mb-4 d-block">University of Macau Intelligent Driving Vehicle Control Platform</span>
<h2 class="mb-4 heading">澳门大学智能驾驶车辆控制平台</h2>
</div>
</div>
</div>
</div>


<div class="section bg-secondary">
<div class="container">
<div class="row ustify-content-between align-items-center">
<div class="col-lg-5" data-aos="fade-up">
<span class="subheading d-block mb-4 text-white">Why Us</span>
<h2 class="heading text-white">智能驾驶车辆控制平台</h2>
</div>
</div>
<div class="row align-items-center g-5">
<div class="col-lg-6" data-aos="fade-up">
<img src="/static/img/carsys.png" alt="Image" class="img-fluid rounded">
</a>
</div>
<div class="col-lg-5 ms-auto" data-aos="fade-up" data-aos-delay="100">
<div class="row g-4">
<div class="col-lg-6 feature-1">
<h3 class="text-white">智能感知</h3>
<p class="opac-white-5">解决智能交通系统中车辆状态信息（如位置、姿态、航向、车速等）</p>
</div>
<div class="col-lg-6 feature-1">
<h3 class="text-white">车路协同</h3>
<p class="opac-white-5">智能避障，自动识别路况获取信号灯状态 </p>
</div>
<div class="col-lg-6 feature-1">
<h3 class="text-white">自动泊车</h3>
<p class="opac-white-5">在停车场自动进行泊车 </p>
</div>
<div class="col-lg-6 feature-1">
<h3 class="text-white">平台监控</h3>
<p class="opac-white-5">通过系统集成平台对道路中的车辆进行信息状态调查</p>
</div>
</div>
<div class="row mt-5">
<div class="col-lg-12">
<a href="/hlcar/" class="btn btn-primary">Go to the System</a>
</div>
</div>
</div>
</div>
</div>
</div>




<div class="section bg-white">
<div class="container">
<div class="row">
<div class="col-lg-7">
<span class="subheading mb-4 d-block">University of Macau Intelligent Bus Driving Platform</span>
<h2 class="mb-4 heading">澳门大学智能巴士驾驶平台</h2>
</div>
</div>
</div>
</div>


<div class="section bg-secondary">
<div class="container">
<div class="row ustify-content-between align-items-center">
<div class="col-lg-5" data-aos="fade-up">
<span class="subheading d-block mb-4 text-white">Why Us</span>
<h2 class="heading text-white">智能巴士驾驶平台</h2>
</div>
</div>
<div class="row align-items-center g-5">
<div class="col-lg-6" data-aos="fade-up">
<img src="/static/img/bussys.png" alt="Image" class="img-fluid rounded">
</a>
</div>
<div class="col-lg-5 ms-auto" data-aos="fade-up" data-aos-delay="100">
<div class="row g-4">
<div class="col-lg-6 feature-1">
<h3 class="text-white">智能感知</h3>
<p class="opac-white-5">解决智能交通系统中巴士状态信息（如位置、姿态、航向、车速等）</p>
</div>
<div class="col-lg-6 feature-1">
<h3 class="text-white">车路协同</h3>
<p class="opac-white-5">智能避障，自动识别路况获取信号灯状态 </p>
</div>
<div class="col-lg-6 feature-1">
<h3 class="text-white">线路规划</h3>
<p class="opac-white-5">按照公交车规定的线路，根据客流量自动控制巴士的动作</p>
</div>
<div class="col-lg-6 feature-1">
<h3 class="text-white">平台监控</h3>
<p class="opac-white-5">通过系统集成平台对道路中的巴士进行信息状态调查</p>
</div>
</div>
<div class="row mt-5">
<div class="col-lg-12">
<a href="/hlcar/" class="btn btn-primary">Go to the System</a>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="section">
<div class="container">
<div class="row align-items-center" data-aos="fade-up">
<div class="col-lg-9 text-center text-md-start mb-4 mb-md-0">
<h2 class="heading">ROS data visualization</h2>
</div>
<div class="col-lg-3 text-center text-md-end" data-aos="fade-up" data-aos-delay="100">
<a href="https://webviz.io/app/" class="btn btn-primary py-3 px-5">Join</a>
</div>
</div>
</div>
</div>

<div class="site-footer bg-white">
<div class="container">
<div class="row">
<div class="col-lg-4">
<div class="widget">
<h3>Contact</h3>
<address>
<a href="https://maps.um.edu.mo/go.php/QyD8Cp">
	中國澳門氹仔<br>
	大學大馬路<br>
	澳門大學科研大樓（N21）
</a>
</address>
<ul class="list-unstyled links">
<li><a href="#">+853 8822 4200</a></li>
<li><a href="#">+853 8822 2466</a></li>
<li><a href="mailto:%20iotsc.enquiry@um.edu.mo"> iotsc.enquiry@um.edu.mo</a></li>
</ul>
</div> 
</div> 
<div class="col-lg-4">
<div class="widget">
<h3>Sources</h3>
<ul class="list-unstyled float-start links">
<li><a href="#">About us</a></li>
<li><a href="#">Services</a></li>
<li><a href="#">Vision</a></li>
<li><a href="#">Mission</a></li>
<li><a href="#">Terms</a></li>
<li><a href="#">Privacy</a></li>
</ul>
<ul class="list-unstyled float-start links">
<li><a href="#">Partners</a></li>
<li><a href="#">Careers</a></li>
<li><a href="#">Blog</a></li>
<li><a href="#">Creative</a></li>
</ul>
</div> 
</div> 
<div class="col-lg-4">
<div class="widget">
<h3>Links</h3>
<ul class="list-unstyled links">
<li><a href="#">Our Vision</a></li>
<li><a href="#">About us</a></li>
<li><a href="#">Contact us</a></li>
</ul>
<ul class="list-unstyled social">
<li><a href="#"><span class="icon-instagram"></span></a></li>
<li><a href="#"><span class="icon-twitter"></span></a></li>
<li><a href="#"><span class="icon-facebook"></span></a></li>
<li><a href="#"><span class="icon-linkedin"></span></a></li>
<li><a href="#"><span class="icon-pinterest"></span></a></li>
<li><a href="#"><span class="icon-dribbble"></span></a></li>
</ul>
</div> 
</div> 
</div> 
<div class="row mt-5">
<div class="col-12 text-center">
<p class="mb-0">Copyright &copy; 2022.<a href="https://www.um.edu.mo/">University of Macau</a> 
</p>
</div>
</div>
</div> 
</div> 

<div id="overlayer"></div>
<div class="loader">
<div class="spinner-border text-primary" role="status">
<span class="visually-hidden">Loading...</span>
</div>
</div>
<script src="/static/index/js/bootstrap.bundle.min.js" type="4f3f099bbce4ce8dd7e22649-text/javascript"></script>
<script src="/static/index/js/tiny-slider.js" type="4f3f099bbce4ce8dd7e22649-text/javascript"></script>
<script src="/static/index/js/glightbox.min.js" type="4f3f099bbce4ce8dd7e22649-text/javascript"></script>
<script src="/static/index/js/aos.js" type="4f3f099bbce4ce8dd7e22649-text/javascript"></script>
<script src="/static/index/js/navbar.js" type="4f3f099bbce4ce8dd7e22649-text/javascript"></script>
<script src="/static/index/js/counter.js" type="4f3f099bbce4ce8dd7e22649-text/javascript"></script>
<script src="/static/index/js/custom.js" type="4f3f099bbce4ce8dd7e22649-text/javascript"></script>
<script async="" src="/static/index/js/js.js" type="4f3f099bbce4ce8dd7e22649-text/javascript"></script><script type="4f3f099bbce4ce8dd7e22649-text/javascript">window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag("js", new Date()); gtag("config", "UA-166033648-1");</script><script src="/static/index/js/rocket-loader.min.js" data-cf-settings="4f3f099bbce4ce8dd7e22649-|49" defer=""></script>	
</body>
</html>
