<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="76x76" href="/static/new/img/Macau.png">
    <link rel="icon" type="image/png" href="/static/new/img/Macau.png">
    <link href="/static/new/css/BigData.css" rel="stylesheet" type="text/css" />
    <link href="/static/new/css/index.css" rel="stylesheet" type="text/css" />
    <link href="/static/new/css/index01.css" rel="stylesheet" type="text/css" />
    <script src="/static/new/js/jquery.js"></script>
    <link href="/static/new/js/bstable/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/new/js/bstable/css/bootstrap-table.css" rel="stylesheet" type="text/css" />
    <link href="/static/new/css/Security_operation.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/new/js/artDialog/skins/default.css" type="text/css"/>
    <script src="/static/new/js/laydate.js"></script>
    <script src="/static/new/js/Home_page.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>澳门大学智能驾驶控制平台</title>

</head>
<body >
<div class="data_bodey">
    <div class="index_nav" >
        <ul style="height: 30px; margin-bottom: 0px;">
        
        </ul>
        <div class="total_chose_box" style="display: none;">
        </div>
        <div class="clear"></div>
    </div>
    <div class="index_tabs" >
        <!--安防运作-->
        <div class="inner" style="height: 109%;">

            <div class="left_cage">
                <div class="dataAllBorder01 cage_cl" style="margin-top: 9% !important; height: 24%;">
                    <!-- <video autoplay="autoplay" loop="loop" class="dataAllBorder02 video_cage">
                        <source class="video" title="主监控位" src="/static/new/video/test_mv02.mov"/>
                    </video> -->
                    <img class="dataAllBorder01 cage_cl" src="/static/new/img/Macau1.png"/>

                </div>
                <div class="dataAllBorder01 cage_cl" style="margin-top: 1.5% !important; height: 38%;">
                    <div class="dataAllBorder02 video_cage">
                        <img class="video_around video_around_chose" src="/static/new/video/video.jpg">
                        <img class="video_around" src="/static/new/video/video.jpg">
                        <img class="video_around" src="/static/new/video/video.jpg">
                        <img class="video_around" src="/static/new/video/video.jpg">
                        <!--<video autoplay="autoplay" loop="loop" class="video_around video_around_chose" title="循环监控01" style="margin-right: 1%; margin-bottom: 1%">-->
                            <!--<source class="video" title="主监控位" src="/static/new/video/video.jpg"/>-->
                        <!--</video>-->
                        <!--<video autoplay="autoplay" loop="loop"  class="video_around" title="循环监控02"  style="margin-bottom: 1%">-->
                            <!--<source class="video" title="主监控位" src="/static/new/video/test_mv03.mov"/>-->
                        <!--</video>-->
                        <!--<video autoplay="autoplay" loop="loop"  class="video_around" title="循环监控03" style="margin-right: 1%">-->
                            <!--<source class="video" title="主监控位" src="/static/new/video/test_mv03.mov"/>-->
                        <!--</video>-->
                        <!--<video autoplay="autoplay" loop="loop"  class="video_around" title="循环监控04">-->
                            <!--<source class="video" title="主监控位" src="/static/new/video/test_mv05.mov"/>-->
                        <!--</video>-->
                    </div>
                </div>
                <div class="dataAllBorder01 cage_cl" style="margin-top: 1.5% !important; height: 32%; position: relative;">
                    <div class="dataAllBorder02" style="padding: 1.2%; overflow: hidden">
                        <video autoplay="autoplay" loop="loop" class="dataAllBorder02 video_cage">
                            <source class="video" title="主监控位" src="/static/new/video/test_mv02.mov"/>
                        </video>
                    </div>
                    <div class="scroll_tool_outbox">
                 
                    </div>
                </div>
            </div>

            <div class="center_cage">
                <div class="dataAllBorder01 cage_cl" style="margin-top: 3.5% !important; height: 62.7%; position: relative;">
                    <div class="dataAllBorder02" style="position: relative; overflow: hidden;">
                        <!--标题栏-->
                        <div class="map_title_box" style="height: 6%">
                            <div class="map_title_innerbox">
                                <div class="map_title">实时地图</div>
                            </div>
                        </div>
                        <div class="map" id="map"  ></div>
                        <!-- 地图显示信息选择
                        <div class="display_type_box display_box" style="display: none;overflow:auto">
                            <div class="display_type_center_box">
                                <ul class="display_type_inner_box" id="layerList">
                                    <li class="display_type_msg"><input id="zt_4" type="checkbox" class="display_type_chose"/> 危化品企业</li>
                                    <li class="display_type_msg"><input  id="zt_1" type="checkbox" class="display_type_chose"/>仓库</li>
                                    <li class="display_type_msg"><input  id="zt_5" type="checkbox" class="display_type_chose"/>学校</li>
                                    <li class="display_type_msg"><input  id="zt_6" type="checkbox" class="display_type_chose"/>医疗卫生</li>
                                    <li class="display_type_msg"><input  id="zt_2" type="checkbox" class="display_type_chose"/>加油站</li>
                                    <li class="display_type_msg"><input  id="zt_0" type="checkbox" class="display_type_chose"/>停车场</li>
                                    <li class="display_type_msg"><input  id="zt_3" type="checkbox" class="display_type_chose"/>派出所</li>
                                    <li class="display_type_msg"><input  id="zt_7" type="checkbox" class="display_type_chose"/>应急避难场所</li>
                                    <li class="display_type_msg">----------------------------------</li>
                                    <li class="display_type_msg"><input id="zt_14" type="checkbox" class="display_type_chose" />危化品运输车辆</li>
                                    <li class="display_type_msg"><input id="zt_11" type="checkbox" class="display_type_chose" />监控设备</li>
                                    <li class="display_type_msg"><input id="zt_13" type="checkbox" class="display_type_chose" />巡逻警员</li>
                                    <li class="display_type_msg"><input id="zt_12" type="checkbox" class="display_type_chose" />巡逻警车</li>
                                </ul>
                            </div>
                            <div class="display_type_funct_box">
                                <span class="display_type_funct display_type_funct_sure">确定</span>
                            </div>
                        </div>
                        <!--城市选择-->
                        <div class="city_chose_box display_box" style="display: none">
                            <div class="display_type_center_box">
                                <ul class="display_type_inner_box" id="ulCity">
                                </ul>
                            </div>
                            <div class="display_type_funct_box">
                                <span class="display_type_funct display_type_funct_sure">确定</span>
                            </div>
                        </div> -->
                        <!--轨迹回放-->
                        <div class="trajectory_box" style="display: none" id="divRouteReview">
                            <input class="trajectory" id="start" placeholder="开始时间">
                            <input class="trajectory" id="end"  placeholder="结束时间">
                            <select class="ratio">
                                <option>1倍</option>
                                <option>2倍</option>
                                <option>3倍</option>
                            </select>
                            <button class="playback" onclick="showRoute()">回放</button>
                            <button class="playback close_playback">关闭</button>
                        </div>
                        <!--缓冲区设置-->
                        <div class="trajectory_box" style="display: none" id="divBufferSetting">
                            <button class="playback" style="width:60px" onclick="setBufferCenter()">设置点</button>
                            <input class="trajectory" id="txtBufferX" placeholder="坐标X">
                            <input class="trajectory" id="txtBufferY" placeholder="坐标Y">
                            <input value="10" class="trajectory" id="txtBufferDis" placeholder="缓冲距离">
                            <select class="ratio">
                                <option>米</option>
                                <option>千米</option>
                            </select>
                            <button class="playback"  onclick="executeBuffer();edit()" style="width:60px">分析</button>
                            <button class="playback close_playback">关闭</button>
                        </div>

                        <!--地图工具栏-->
                        <div class="map_tool_outbox">
                            <span class="map_tool" onclick="zoomFull()">
                                    <a class="map_tool_inner" title="全图" ></a>
                            </span>
                            <span class="map_tool" onclick="zoomOut()">
                                    <a class="map_tool_inner" title="放大" style="background-position-x:-36px"></a>
                                </span>
                            <span class="map_tool" onclick="zoomIn()">
                                    <a class="map_tool_inner" title="缩小" style="background-position-x:-72px"></a>
                                </span>
                            <!-- <span class="map_tool" onclick="showHeatMap()">
                                    <a class="map_tool_inner" title="倒退视图" style="background-position-x:-108px"></a>
                                </span>
                            <span class="map_tool">
                                    <a class="map_tool_inner" title="前进视图" style="background-position-x:-144px"></a>
                                </span>
                            <span class="map_tool">
                                    <a class="map_tool_inner display_type_btn" title="专题地图" style="background-position-x:-180px"></a>
                                </span>
                            <span class="map_tool">
                                    <a class="map_tool_inner city_chose_btn" title="城市定位" style="background-position-x:-432px"></a>
                                </span>
                            <span class="map_tool" id="btnBuffer">
                                    <a class="map_tool_inner" title="缓冲区分析" style="background-position-x:-216px"></a>
                                </span>
                            <span class="map_tool">
                                    <a class="map_tool_inner addition_check_btn check_btn" title="地址检索" style="background-position-x:-252px"></a>
                                </span>
                            <span class="map_tool">
                                    <a class="map_tool_inner chemistry_check_btn check_btn" onclick="chemistryCheck()" title="危化品检索" style="background-position-x:-288px"></a>
                                </span>
                            <span class="map_tool">
                                    <a class="map_tool_inner enterprise_check_btn check_btn" onclick="enterpriseCheck()"  title="企业检索" style="background-position-x:-324px"></a>
                                </span>
                            <span class="map_tool">
                                    <a class="map_tool_inner car_check_btn check_btn" onclick="carCheck()" title="车辆检索"  style="background-position-x:-360px"></a>
                                </span> -->
                            <span class="map_tool">
                                    <a class="map_tool_inner" onclick="Search()" title="搜索" style="background-position-x:-468px"></a>
                                </span>
                            <span class="map_tool">
                                    <a class="map_tool_inner" onclick="cancel()" id="fresh_tool" title="清空" style="background-position-x:-396px"></a>
                                </span>
                            <span class="map_tool">
                               <input type="text" id="txtCoord" style="width:150px;visibility:hidden" />
                            </span>
                        </div>
                    </div>
                </div>

                <div class="dataAllBorder01 cage_cl" style="margin-top: 0.6% !important; height: 32.1%;">
                    <div class="dataAllBorder02" id="map_title_innerbox">
                        <div class="map_title_box">
                            <div class="map_title_innerbox">
                                <div class="map_title" style="background-image: url(/static/new/img/second_title.png);">分析数据一</div>
                            </div>
                            <div >
                                <select id="selLayer" style="width:100px;">
                                    <option value="">车辆</option>
                                    <option value="">企业</option>
                                </select>
                            </div>
                        </div>
                        <table id="table" style="width: 100%"></table>
                    </div>

                    <div class="dataAllBorder02" id="map_title_innerbox1" style="display: none; position: relative;">
                        <div class="map_title_box">
                            <div class="map_title_innerbox">
                                <div class="map_title" style="background-image: url(/static/new/img/second_title.png);">xxxxx条件扫描</div>
                            </div>
                        </div>
                        <ul class="tab_msg_box">
                           <li class="tab_msg tab_msg01 tab_msg_current">xxxxx</li>
                            <li class="tab_msg tab_msg02">xxx</li>
                        </ul>
                        <div class="table1">
                        <table id="table1" style="width: 100%"></table>
                        </div>
                        <div class="table2" style=" display: none;">
                        <table id="table2" style="width: 100%;"></table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="right_cage">
                <!--顶部切换位置-->
                <div class="dataAllBorder01 cage_cl" style="margin-top: 9% !important; height: 24%">
                    <div class="dataAllBorder02" id="cage_cl" >
                        <div class="analysis">流量：</div>
                        <ul  class="data_show_box">
                            <li class="data_cage">0</li>
                            <li class="data_cage">0</li>
                            <li class="data_cage" style="background-image: none;">,</li>
                            <li class="data_cage">0</li>
                            <li class="data_cage">0</li>
                            <li class="data_cage">2</li>
                        </ul>
                        <div class="depart_number_box">
                            <ul class="depart_number_cage">
                                <li class="depart_name">车辆一：</li>
                                <li class="depart_number">3,238</li>
                            </ul>
                            <ul class="depart_number_cage">
                                <li class="depart_name">车辆二：</li>
                                <li class="depart_number">1,630</li>
                            </ul>
                            <ul class="depart_number_cage" style="margin-bottom: 0px;">
                                <li class="depart_name">车辆三：</li>
                                <li class="depart_number">4,251</li>
                            </ul>
                            <ul class="depart_number_cage" style="margin-bottom: 0px;">
                                <li class="depart_name">车辆四：</li>
                                <li class="depart_number">24</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="dataAllBorder01 cage_cl check_increase" style=" margin-top: 1.5% !important;">
                    <div class="dataAllBorder02 over_hide dataAllBorder20" id="over_hide">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 18%">名称</th>
                                <th>归属</th>
                                <th>程度</th>
                                <th>范围</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>200m-5km</td>
                            </tr>
                            <tr>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>4km-80km</td>
                            </tr>
                            <tr>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>400m-2km</td>
                            </tr>
                            <tr>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>1km</td>
                            </tr>
                            <tr>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>2km</td>
                            </tr>
                            <tr>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>500m-2km</td>
                            </tr>
                            <tr>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>500m-10km</td>
                            </tr>

                            </tbody>
                        </table>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 18%">名称</th>
                                <th>归属</th>
                                <th>程度</th>
                                <th>范围(r=?)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>全城</td>
                            </tr>
                            <tr>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>车站</td>
                            </tr>
                            <tr>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>xxxxxxx</td>
                                <td>-</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="dataAllBorder01 cage_cl check_decrease" style="margin-top: 1.5% !important; height: 32%; position: relative;">
                    <div class="dataAllBorder02 over_hide" style="padding: 1.2%;">
                        <div class="analysis">xxxxx构成因素占比：</div>
                        <div class="danger_contain_box">
                            <div id="container_huan" style="height: 90%;width: 100%"></div>
                        </div>
                        <div class="danger_depart_box">

                            <ul class="danger_depart">
                                <li class="danger_ico" style="background-image: url(/static/new/img/images/pic_ico_01.png); background-position-x: 0px"></li>
                                <li class="data_name">xxxxx综合</li>
                                <li class="data data01">652</li>
                                <li class="data data02">↑&nbsp&nbsp1.2%</li>
                            </ul>
                            <ul class="danger_depart">
                                <li class="danger_ico" style="background-image: url(/static/new/img/images/pic_ico_02.png); background-position-x: 0px"></li>
                                <li class="data_name">统计一</li>
                                <li class="data data01">97</li>
                                <li class="data data02" style="color: #ff2865;">↓&nbsp&nbsp0.3%</li>
                            </ul>
                            <ul class="danger_depart danger_depart01">
                                <li class="danger_ico" style="background-image: url(/static/new/img/images/pic_ico_03.png); background-position-x: 0px"></li>
                                <li class="data_name">统计二</li>
                                <li class="data data01">423</li>
                                <li class="data data02">↑&nbsp&nbsp1%</li>
                            </ul>
                            <ul class="danger_depart danger_depart01">
                                <li class="danger_ico" style="background-image: url(/static/new/img/images/pic_ico_01.png); background-position-x: 0px"></li>
                                <li class="data_name">统计三</li>
                                <li class="data data01">218</li>
                                <li class="data data02">↑&nbsp&nbsp0.3%</li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
</div>

<script src="/static/new/js/echarts-all.js"></script>
<script src="/static/new/js/index.js"></script>
<script src="/static/new/js/bstable/js/bootstrap.min.js"></script>
<script src="/static/new/js/bstable/js/bootstrap-table.js"></script>
<script type="text/javascript" src="/static/new/js/jquery.pagination.js"></script>
<script src="/static/new/js/bstable/js/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=5ieMMexWmzB9jivTq6oCRX9j&callback"></script>

    <!--<script src="/static/new/js/MainMap.js"></script>-->
<script src="/static/new/js/Home_page.js"></script>
<script src="/static/new/js/artDialog/artDialog.js"></script>
<script src="/static/new/js/artDialog/plugins/iframeTools.source.js"></script>
<script>
    var number;
    $(function() {
        if (window.screen.height <= 768) {
            number = 4;
        } else if (window.screen.height > 768 && window.screen.height <= 900) {
            number = 6
        } else if (window.screen.height > 1080) {
            number = 8
        }
    });


//    翻页模块
    $(".tcdPageCode").createPage({
        pageCount:5,
        current:1,
        backFn:function(p){}
    });
    $(".chemistry_tcdPageCode").createPage({
    pageCount:4,
    current:1,
    backFn:function(p){}
});
    $(".enterprise_tcdPageCode").createPage({
    pageCount:4,
    current:1,
    backFn:function(p){}
});
    $(".car_tcdPageCode").createPage({
    pageCount:4,
    current:1,
    backFn:function(p){}
});

    $(function () {
        $(".tit02Diva a").each(function (index) {
            $(this).on("click",function () {
                $(".data_map").eq(index).fadeIn().siblings(".data_map").stop().hide();
                $(this).prev('i').removeClass('i_crlieAction');
                $(this).siblings('a').prev('i').addClass('i_crlieAction');

            })
        });
        BootstrapTable();
        Echarts();
        $("#fresh_tool").click(function(event){
            event.stopPropagation();
            cancel();
        })

    });
    function EventClick(){
        $(".check_increase").removeClass("check_increase_act");
        $("#over_hide1").show().siblings().hide();
        $(".check_decrease").show();
        $("#cage_cl").hide();
        $("#map_title_innerbox").hide();
        $("#cage_cl1").show();
//        $("#over_hide").show();
        $("#map_title_innerbox1").show();
        $(".addition_check_in").hide();
        $("#car_check_in").hide();
        BootstrapTable();
    }
    function cancel(e){
        $(".check_increase").removeClass("check_increase_act");
        $("#over_hide").show().siblings().hide();
        $(".check_decrease").show();
        $("#cage_cl").show();
        $("#cage_cl1").hide();
//        $("#cage_cl").show();
//        $("#over_hide1").show();
//        $("#map_title_innerbox").show();
        BootstrapTable();
    }

    //    地址检索
    $(".addition_check_btn").click(function () {
        $(".check_increase").addClass("check_increase_act");
        $(".check_decrease").hide()
        $(".addition_check_in").show().siblings().hide()
    });

//    危化品检索
    function chemistryCheck() {
        $(".check_increase").addClass("check_increase_act");
        $(".check_decrease").hide()
        $("#chemistry_check_in").show().siblings().hide()
    }

    //    企业检索
    function enterpriseCheck() {
        $(".check_increase").addClass("check_increase_act");
        $(".check_decrease").hide()
        $("#enterprise_check_in").show().siblings().hide()
    }

    //    车辆检索
    function carCheck() {
        $(".check_increase").addClass("check_increase_act");
        $(".check_decrease").hide()
        $("#car_check_in").show().siblings().hide()
    }

    function BootstrapTable() {
        $('#table').bootstrapTable({
            method: "get",
            striped: true,
            singleSelect: false,
            url: "/static/new/json/DGCar.json",
            dataType: "json",
            pagination: true, //分页
            pageSize: number,
            pageNumber: 1,
            search: false, //显示搜索框
            contentType: "application/x-www-form-urlencoded",
            queryParams: null,
            columns: [
//                {
//                    title: "车辆编号",
//                    field: 'id',
//                    width:80,
//                    align: 'center',
//                    valign: 'middle'
//                },
                {
                    title: 'Testdata',
                    field: 'carno',
                    width:80,
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: 'Side id',
                    field: 'company',
                    align: 'center',
                    valign: 'middle'
                },

                {
                    title: 'testing',
                    field: 'content',
                    align: 'center'
                },

                {
                    title: 'InFraRed',
                    field: 'speed',
                    width:80,
                    align: 'center'
                },
                {
                    title: 'JiuZhou',
                    field: 'load',
                    width:80,
                    align: 'center'
                },
                {
                    title: '操作',
                    field: 'load',
                    align: 'center',
                    formatter: function (value, row) {
                        var e = '<a  href="javascript:void(0)" title="" onclick="showCarDetai()">查看详情</a> ';
                        var d = '<a  href="javascript:void(0)" title="" onclick="analiysis(\'' + row.id + '\')">定位</a> ';
                        return e + d;
                    }
                }

            ]
        });
        }

    function Echarts() {
        var myChart = echarts.init($("#container_huan")[0]);
        var option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data:['ewq','fafd','fsafsa','dsdw','defv'],
                textStyle:{
                    color:"#e9ebee"
                }
            },
            series: [
                {
                    name:'行业数据',
                    type:'pie',
                    center:['80%','50%'],
                    radius: ['50%', '80%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    itemStyle: {
                        normal: {
                            label: {
                                show: false
                            },
                            labelLine: {
                                show: false
                            }
                        }
                    },
                    data:[
                        {value:335, name:'民用爆炸'},
                        {value:310, name:'射钉器材'},
                        {value:234, name:'危化品'},
                        {value:135, name:'寄递物流'},
                        {value:1548, name:'旅店'}
                    ]
                }
            ]
        };
        myChart.setOption(option);
    }


    function TimeControl(){
        $(".message_scroll_box").animate({marginTop:96},800,
                function(){
                    $(".message_scroll_box").css({marginTop:0});    //把顶部的边界清零
                    $(".message_scroll_box .message_scroll:first").before($(".message_scroll_box .message_scroll:last"));    //在第一个新闻后面插入最后一个新闻

                });
    }
    var T=setInterval(TimeControl,2300);    //开始定时
    $(".message_scroll_box").mouseenter(function(){
        clearInterval(T);    //停止定时
    })
            .mouseleave(function(){
                T=setInterval(TimeControl,2500);    //再次定时
            })

</script>

<!--轨迹回放时间日期选择-->
<script>
    !function(){
        laydate.skin('danlan');//切换皮肤，请查看skins下面皮肤库
        laydate({elem: '#demo'});
        laydate({elem: '#demo1'});//绑定元素
    }();
    //日期范围限制
    var start = {
        elem: '#start',
        format: 'YYYY-MM-DD',
        min: laydate.now(), //设定最小日期为当前日期
        max: '2099-06-16', //最大日期
        istime: true,
        istoday: false,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    };

    var end = {
        elem: '#end',
        format: 'YYYY-MM-DD',
        min: laydate.now(),
        max: '2099-06-16',
        istime: true,
        istoday: false,
        choose: function(datas){
            start.max = datas; //结束日选好后，充值开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);
    function edit() {
        layer.open({
            type: 2,
            title: '存储详情',
            shade: 0.5,
            skin: 'layui-layer-rim',
            area: ['700px', '400px'],
            shadeClose: true,
            closeBtn: 1,
            content: 'saveFindTail.html'
        });
    }
</script>
<script>
    // 百度地图API功能
    var map = new BMap.Map("map");    // 创建Map实例
    map.centerAndZoom(new BMap.Point(113.538, 22.189), 11);  // 初始化地图,设置中心点坐标和地图级别
    //添加地图类型控件
    map.addControl(new BMap.MapTypeControl({
        mapTypes:[
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]}));
    var mapStyle={
        style:"dark"
    };
    map.setMapStyle(mapStyle);
    map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);
</script>

</body>
</html>



























